*~
*.o
*.hi
*.dyn_hi
*.dyn_o
*.fail.xml
*.test.xml
*.test.bin
*.test-xml.bin
*.dot
.cabal-sandbox/
cabal.sandbox.config
TAGS
Data/Graph/Inductive/Query/BalancedSCC
Program/Properties/TransitionSystems
Program/Properties/ValidProperties
